.li_group{
	animation: a_li_group .4s ease-in-out;
}
@keyframes a_li_group{
	from{
		transform: translate(0,-3em);
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
}
.li{
	animation: a_li_group .4s ease-in-out;
}
@keyframes a_li_group{
	from{
		transform: translate(9em,0);
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	50%{
		transform: translate(-.5em,0);
	}
}
.border-res-main-bt-home:hover::before,
.border-res-main-bt-home:hover::after{
	animation: a_border_res_main_bt_home_hover_ba .2s ease-in-out;
}
@keyframes a_border_res_main_bt_home_hover_ba{
	to{
		transform: scale(3,3);
		opacity: 0;
	}
}
.content-field{
	animation: a_content_field .4s ease-in-out;
}
@keyframes a_content_field{
	from{
		transform: translate(0,1em);
		opacity: 0;
	}
	60%{
		transform: translate(0,-.5em);
	}
}
.li-group h1{
	animation: a_li_group_h .2s ease-in-out;
}
@keyframes a_li_group_h{
	from{
		transform: translate(0,-1em);
		opacity: 0;
	}
}
.border-res-main-bt-home{
	animation: a_border_res_main_bt_home .4s ease-in-out;
}
@keyframes a_border_res_main_bt_home{
	from{
		transform: scale(0,0);
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
}
#nav .this-r{
	animation: a_nav_div .4s ease-out;
}
@keyframes a_nav_div{
	from{
		transform: translate(0,-3em);
		opacity: 0;
	}
	60%{
		transform: translate(0,.5em);
	}
}
.end-content{
	animation: a_end_content .4s ease-in-out;
}
@keyframes a_end_content{
	from{
		transform: translate(0,-3em);
		opacity: 0;
	}
}
.just-home-content-rule img{
	animation: a_just_home_content_rule_img .4s ease-in-out;
}
@keyframes a_just_home_content_rule_img{
	from{
		transform: scale(0,0);
		opacity: 0;
	}
	5%{
		opacity: 1;
	}
	40%{
		transform: scale(1.1,1.1);
	}
}
#s-table-description tr:hover{
	animation: a_s_table_description_tr_hover .4s infinite ease-in-out;
}
@keyframes a_s_table_description_tr_hover{
	from{
		outline: 1px solid rgba(60,60,60,0);
		outline-offset: 0;
	}
	60%{
		outline: 1px solid rgb(60,60,60);
	}
	to{
		outline: 1px solid rgba(60,60,60,0);
		outline-offset: 2em;
	}
}
#s-table-description tr:nth-child(1){
	animation: none;
}